*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    margin: 30px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgb(206, 206, 206) 34%, rgb(255, 255, 255) 59%);
    
}

#resultado{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
    padding: 150px;
    padding-top: 50px;
}

@media (max-width: 768px){
    #resultado{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px 10px;
        padding: 50px;
        padding-top: 50px;
    }
}

h4{
    padding-top: 25px;
    padding-bottom:0;
}