*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    text-align: center;
    margin: 30px;
    background: #39af21
}


/*__________________________________________________________________________________________________________________________CSS tarjetas */
.colorFondo{
  background: rgb(230,230,230);
  background: linear-gradient(0deg, rgba(230,230,230,1) 15%, rgba(224,224,224,1) 79%);
}
#resultado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 30px 10px;
    padding: 130px;
    padding-top: 20px;

    /* Agregue otros estilos según sea necesario */
}



@media (max-width: 768px){
    #resultado{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        gap: 30px 10px;
        padding: 50px;
        padding-top: 50px;
        background: #2e5f24
    }
}

/*__________________________________________________________________________________________________________________________CSS paginas de resultados*/

#AjustePaginaN{
  padding-top: 20px;
  padding-bottom: 0px;
  margin-bottom: 0.0rem;
  text-align: center;
}


/*__________________________________________________________________________________________________________________________CSS de navbar */
.navbar-custom {
    height: 90px;
    font-size: 20px;
    position: fixed;
    top: 0;
  }

 /* Titulo rick y morty */ 
.clase {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 3rem;
    font-size: 1.7rem;
    text-decoration: none;
    white-space: nowrap;
    color: white;
}

/* Para la separacion de la lista del menu */

.nav-item{
 margin-right: 3rem;
}

/* Para el el buscador */
.buscador {
    display: block;
    width: 400px;
    height: 40px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    border: 1px solid rgb(206, 212, 218);
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.imagen{
  color: white;
  height: 30px;
}

a:hover {
  transform: scale(1.2);
}

/*__________________________________________________________________________________________________________________________CSS carrusel */


.d-item{
  height: 500px;
}

.d-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}


/*__________________________________________________________________________________________________________________________CSS Footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  text-align: left;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}

.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}



